.App {
  overflow-x: hidden;
  width: 100vw;
}

.ant-pagination-item-active {
  border: 1px #ffb606 solid !important;
  background-color: #ffb606 !important;
}

.ant-pagination-item-active a {
  color: white !important;
}

.profile-menu {
  border: 1px solid rgba(204, 204, 204, 0.3);
}

.profile-menu-item {
  border-top: 1px solid rgba(204, 204, 204, 0.3);
}

.ant-menu-item-selected {
  color: #000 !important;
}

.ant-menu-item-selected::before {
  content: '' !important;
  position: absolute !important;
  width: 5px !important;
  height: 100% !important;
  top: 0 !important;
  left: -1px !important;
  background: #ffb606 !important;
}

.sidebar {
  border: solid 1px #e5e5e5;
}

.arrow {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #e8e8e8;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ffb606 !important;
}

.ant-tabs-tab-btn:hover,
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn:hover {
  color: #ffb606 !important;
}

.ant-tabs-ink-bar {
  border-bottom: 2px solid #ffb606 !important;
}

.ant-btn-primary {
  background-color: #ffb606 !important;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  font-size: 30px !important;
  height: 30px !important;
  z-index: 2;
  color: #333333;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
  left: -50px;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
  right: -45px;
}
