@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
p {
  font-family: 'Chivo Mono', sans-serif !important;
}

.App {
  height: 100vh;
  width: 100vw;
}

.ant-menu-item-selected {
  background-color: white !important;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #111111;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(68, 68, 68);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(107, 107, 107);
}
